
    #csharp, #python, #swift, #java, #resubmit {
      display: none;
    }

     #csharp, #python, #swift, #java {
        cursor: pointer;
        color: darkgray;
        text-align: center;
      }

      .body {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
      border: 3px solid #73AD21;
  }

  

   